* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  color: #0D3379;
}

body {
  margin: 0;
  padding: 0;
  background: #f3f3f3;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  font-size: inherit;
  color: inherit; 
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}

@include block('container') {
  width: 100%;
  max-width: 1100px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @include modif('blocks') {
    padding: 105px 20px 50px 20px;
  }

  @include modif('content') {
    padding: 40px 0;
  }
}

@include block('containers') {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  margin: 0 -10px;
  position: relative;
}

.chevron {
  margin-left: 10px;
  margin-bottom: 2px;
  
  &--active {
    transform: rotate(180deg);
  }
}

.text-center {
  text-align: center;
}